<!DOCTYPE html>
<html>
<head>
  <title>Socket.IO with EJS</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Hello from EJS Template</h1>

  <script>
    const socket = io();

    socket.on('hello', (msg) => {
      console.log('Received:', msg);
      alert(msg);
    });

    socket.on('connect', () => {
      console.log('Connected with id:', socket.id);
    });
  </script>
</body>
</html>
